@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


:root {
 --cor-texto: #FFFFFF;
 --cor-secundaria: #C0C0C0;
 --cor-botao: #167BF7;
 --cor-fundo: black;
 --fonte-conteudo: 'Inter','sans serif';
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family:var(--fonte-conteudo);
    font-size: 16px;
    font-weight: 400;
    gap: 30px;
}

* {
    margin: 0;
    padding: 0;

}

.principal {
background-image: url(photos/Alura\ plus.jpg);
background-repeat: no-repeat;
background-size: contain;
align-items: center;
text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--cor-botao);
        border-radius: 5px;
        text-decoration: none;
        color: var(--cor-texto);
        padding: 1em;
        display: block;
        margin-bottom: 1em;
}
        
.container_botao_secundario {
        background-color: transparent;
        border: 2px solid var(--cor-texto);
        color: #ffffff;
        border-radius: 5px;
        padding: 0 10em 1.33em;
        text-decoration: none;
        text-align: center;
        
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__aviso {
    color: var(--cor-secundaria);
    padding: 2em;
    font-size: 14px;
}

.container_imagem {
    margin: 1em 0 2em 0;
}

.container_caixa {
    margin: 0 6em;
}

.container__secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 0 10em;
}

.secundario__imagem {
    width: 40%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
}

.descricao__conteudo {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-secundaria);
}

.imagem__secundario {
    float: right;
    margin: 9em;
}

.container__terciario {
    padding: 1em;
}


.container__geral_conteudo {
    gap: 16px;
    padding: 13em 0 2em;
    color: var(--cor-secundaria); 
}

.container__conteudo_botao {
 text-decoration: none;
 padding: 1em;
 background-color:var(--cor-botao) ;
 color: var(--cor-texto);
 border-radius: 8px;
 border: 2px solid var(--cor-botao)
}

.container__geral {
    padding: 4em ;

}

.container__quartenario {
    padding: 20em 2em ;
    
}

.container__descricao__quartenario {
    float: right;
    padding: 6em 4em;
    width: 49%;
}

.titulo__quartenario {
    font-size: 37px;
}

.conteudo__quartenario {
    font-weight: 400;
    font-size: 16px;
    color: var(--cor-secundaria);
}

.dispositivos__listas {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.titulo {
    font-size: 40px;
    color: var(--cor-texto);
}

.lista__item {
    font-size: 21px;
    color: var(--cor-texto);
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}
